<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gojyuplusone.spotoolfy.spotoolfy_flutter">

    <!-- Add necessary permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 添加 queries 元素以支持 Spotify 链接打开 -->
    <queries>
        <package android:name="com.spotify.music" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="spotify"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" android:host="open.spotify.com"/>
        </intent>
    </queries>

    <application
        android:name=".SpotoolfyApplication"
        android:label="Spotoolfy"
        android:icon="@mipmap/launcher_icon"
        android:allowBackup="true"
        android:localeConfig="@xml/locale_config"
        android:theme="@style/AppTheme">

        <!-- 让系统自动备份并恢复用户的语言偏好 -->
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true"/>
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.spotify.sdk.android.auth.RedirectUriReceiverActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="${redirectSchemeName}"
                    android:host="${redirectHostName}" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <receiver android:name=".MusicWidget" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/music_widget_info" />
        </receiver>
    </application>
</manifest>
